<p>{{posts|json}}</p>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Hire Date</th>
                <th>Address</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let i of posts">
                <th>{{i.id}}</th>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.date_of_birth}}</td>
                <td>{{i.hire_date}}</td>
                <td>{{i.address}}</td>
                <td>{{i.department}}</td>
                <td>{{i.salary}}</td>
            </tr>
        </tbody>

    </table>

</div>
